div.voltar{
    width: 8%;
    height: 30px;
    margin: auto 0;
    border-radius: 50%;
    padding: 10px;
    background:none;
    border: solid red;
    text-align-last: center;
}
div.voltar a{
    text-decoration: none;
    color: white;
}
div.voltar:hover{
    border: solid white;
}

section{
    position: relative;
    width: 90%;
    min-height: calc(100vh - 110px);
    padding: 10px;
    display:block;
}
section p{
    width: 100%;
    display: flex;
    justify-content: center;    
    margin: 0 auto;
}
section p select#distribuicao{
    margin: 0 auto;
    position: relative;
    font-size: 24pt;
    padding: 2px;
    border: dotted;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}
.texto{
    color: rgb(218, 42, 42);
    text-decoration: underline;
}
.Uniforme, .Binominal, .Normal{
    position: relative;
    display: block;
    /* background-color: blue; */
    justify-content: center;
    margin: auto;
    width: 80%;
}
.Uniforme p, .Binominal p, .Normal p{
    width: 100%;
    display: block;
}

.Uniforme p input, .Normal p input, .Binominal p input{
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
}
.Uniforme p select, .Normal p select{
    width: 92%;
    padding: 10px;
    margin: 10px 20px;

}
input{
    font-size: 24pt;
    border: none;
    border-bottom: double;
    box-shadow: 0 1px gray;
}
select{
    border: none;
    border-color: none;
    font-size: 24pt;

}
.button_uniforme{
    display: block;
    width: 20%;
    margin: auto;
    color:  white;
    background: black;
}
.button_uniforme:hover{
    color: black;
    border: solid black;
    background-color: white;
}
table{
    position: relative;
    border-left: 5px dotted gray;
    font-size: 24pt;
    text-align: center;
}
table tr td{
    border-right: 5px dotted gray;
    padding: 10px;
}
h1{
    position: relative;
    display: block;
    width: 100%;
    margin: auto; 
}

div p#saida_normal, div p#saida_binominal, div p#saida_uniforme {
    width: 70%;
    margin: auto;
    position: flex;
    justify-items: center;
    display: block;
}
table.gauss {
    margin: 30px 0;
    font-size: 12pt;
    float: right;
    position: relative;
    width: 100%;
    border-style: none; 
}
table.gauss tr td{
    border-style: none;
    border-right-style: dotted;
    border-bottom-style: dotted;
    width: 10px;
    height: 10px; 
            

}
footer{
    clear: both;
}